#root {
  color: red;
}
.episode-card-big {
  display: flex;
  flex-wrap: wrap;
}

.episode-card {
  display: inline-block;
  width: 300px;
  align-self: flex-start; /* Set the default height of the element to flex-start */
  height: 450px;
  margin: 10px;
  padding: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background-color: white;
}

.episode-card h2 {
  font-size: 1.2em;
  margin-top: 0;
}

.episode-card img {
  /*display: block;*/
  margin: 10px auto;
  max-width: 100%;
}

.episode-card p {
  font-size: 0.9em;
  margin-top: 0;
}

.episode-card a {
  font-size: 0.9em;
  color: blue;
  text-decoration: none;
}
